<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.epologee.template.modifications.cocoaTouchApplication</string>
	</array>
	<key>Identifier</key>
	<string>com.epologee.template.modifications.coreDataCocoaTouchApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>false</string>
			<key>Description</key>
			<string>Whether the application should use the Core Data framework for storage</string>
			<key>Identifier</key>
			<string>coreData</string>
			<key>Name</key>
			<string>Use Core Data</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Source/Model/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
						<string>Source/Model/___VARIABLE_classPrefix:identifier___CoreDataProxy.h</string>
						<string>Source/Model/___VARIABLE_classPrefix:identifier___CoreDataProxy.m</string>
						<string>../generate_classes.sh</string>
						<string>___PACKAGENAME___-Prefix.pch:objC:importCoreData</string>
						<string>Source/Model/Entities/AbstractEntities/.gitkeep</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:coreData</key>
						<string>pod 'TwelveTwentyToolkit/CoreData'</string>
						<key>Source/Model/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Source</string>
								<string>Model</string>
							</array>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
						</dict>
						<key>Source/Model/___VARIABLE_classPrefix:identifier___CoreDataProxy.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Source</string>
								<string>Model</string>
							</array>
							<key>Path</key>
							<string>CoreDataProxy.h</string>
						</dict>
						<key>Source/Model/___VARIABLE_classPrefix:identifier___CoreDataProxy.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Source</string>
								<string>Model</string>
							</array>
							<key>Path</key>
							<string>CoreDataProxy.m</string>
						</dict>
						<key>../generate_classes.sh</key>
						<dict>
							<key>Group</key>
							<array>
								<string>-delete or reimport this group-</string>
								<string>mogenerator</string>
							</array>
							<key>Path</key>
							<string>generate_classes.sh</string>
						</dict>
						<key>Source/Model/Entities/AbstractEntities/.gitkeep</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Source</string>
								<string>Model</string>
								<string>Entities</string>
								<string>AbstractEntities</string>
							</array>
							<key>Path</key>
							<string>gitkeep</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>___PACKAGENAME___-Prefix.pch:objC:importCoreData</key>
						<string>#import &lt;CoreData/CoreData.h&gt;</string>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>Frameworks</key>
							<array>
								<string>CoreData</string>
							</array>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
