<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.epologee.template.modifications.iOSReferenceCounting</string>
	<key>InjectionTargets</key>
	<array>
		<string>com.epologee.template.modifications.iPhoneBase</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Macros</key>
	<dict>
		<key>AR</key>
		<string></string>
		<key>RP</key>
		<string></string>
		<key>RT</key>
		<string></string>
	</dict>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>CLANG_ENABLE_OBJC_ARC</key>
			<string>YES</string>
		</dict>
	</dict>
</dict>
</plist>
